<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.spring.cloud.alibaba.provider.mapper.TOrderMapper">
  <resultMap id="BaseResultMap" type="com.funtl.spring.cloud.alibaba.provider.domain.TOrder">
    <!--@mbg.generated generated on Wed Dec 25 04:40:42 CST 2019.-->
    <!--@Table t_order-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Dec 25 04:40:42 CST 2019.-->
    id, order_id, user_id
  </sql>
</mapper>